@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: rgba(248, 89, 89, 1);
    --primary-foreground: rgba(255, 255, 250, 1);
    --secondary: rgba(35, 48, 67, 1);
    --secondary-foreground: rgba(35, 48, 67, 1);
    --background: rgba(226, 226, 228, 1);
    --foreground: rgba(9, 9, 11, 1);
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

}

@layer base {
  * {
    @apply border-border;

  }

  body {
    @apply bg-background text-foreground;

  }
  html {
    scroll-behavior: smooth;
  }
}

body {
  color: var(--foreground-rgb);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.outer {
  @apply w-[250px] h-[350px] relative p-px rounded-[10px];
  background: radial-gradient(circle 230px at 0% 0%, var(--primary), var(--primary-foreground));
}

.dot {
  @apply w-[5px] aspect-[1] absolute bg-white shadow-[0_0_10px_#ffffff] z-[2] animate-[moveDot_6s_linear_infinite] rounded-[100px] right-[10%] top-[10%];
}

.card {
  @apply z-[1] w-full h-full bg-[20px_20px] flex items-center justify-center relative flex-col text-white rounded-[9px] border-[solid] border-[#202222];
  background: radial-gradient(circle 280px at 0% 0%, #444444, var(--secondary-color));
}

.card .text {
  @apply font-[bolder] text-[4rem] bg-clip-text text-transparent;
  background: linear-gradient(45deg, #000000 4%, #fff, #000);
}

.line {
  @apply w-full h-px absolute bg-primary-foreground;
}

.topl {
  @apply top-[10%] bg-primary-foreground;
}

.bottoml {
  @apply bottom-[10%] bg-primary-foreground;
}

.leftl {
  @apply w-px h-full left-[10%] bg-primary-foreground;
  
}

.rightl {
  @apply w-px h-full right-[10%] bg-primary-foreground;
}

@keyframes moveDot {
  0%,
  100% {
    top: 10%;
    right: 10%;
  }

  25% {
    top: 10%;
    right: calc(100% - 35px);
  }

  50% {
    top: calc(100% - 30px);
    right: calc(100% - 35px);
  }

  75% {
    top: calc(100% - 30px);
    right: 10%;
  }
}

.contact-container {
  position: relative;
  height: calc(100vh - 50px);
  /* Adjust 50px based on your footer height */
  overflow: hidden;
}

.contact-form {
  width: 100%;
  height: 100%;
  border: none;
  overflow-y: auto;
}